.hero-container {
    background: url(../../img/image-2.jpg);
    /* background: url(/public/images/bg.jpg); */
    background-color: aqua;
    height: 70vh;
    width: vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    object-fit: contain;
    /* background-color: yellow; */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1.home__text {
    margin-top: 150px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3px;
    color: rgba(198, 201, 216, 75) !important;
}

h2.home__text {
    font-size: 54px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
}

h3.home__text {
    font-size: 50px;
    font-weight: 800;
    font-family: Monserrat, sans-serif;
    line-height: 40px;
}

h4.home__text {
    font-size: 50px;
    font-weight: 600;
    line-height: 40px;
    font-family: Monserrat, sans-serif;
    color: #fff;
}

.home__meta {
    padding: 125px 50px;
}

.i-title {
    height: 80px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite
        /* alternate */
    ;
}

@keyframes move {
    25% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(-160px);
    }

    75% {
        transform: translateY(-240px);
    }

    100% {
        transform: translateY(-320px);
    }
}

.i-title-item {
    height: 80px;
    font-size: 50px;
    font-weight: bold;
    color: #F9004D;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
}